* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
}

.container {
	display: grid;
	grid-template-rows: 1fr 4fr 1fr;
}

/* body layout */
/* .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* polaroid layout */
.polaroids {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* footer layout */
#contact-me {
	align-items: flex-end;
    display: flex;
    bottom: 0;
    flex-direction: column;
    position: absolute;
    width: 100%;
} 